/* src/styles/FormularioRegistro.css */
.formulario-registro {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.formulario-registro h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #09ff57;
  font-size: 24px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  color: #ddd;
  display: block;
  margin-bottom: 5px;
}

.input-group input, .input-group select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #fff;
}

.input-group input::placeholder {
  color: #bbb;
}

.btn-registrar {
  width: 100%;
  padding: 12px;
  background-color: #39FF14;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-registrar:hover {
  background-color: #30ff72;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}

.success {
  color: green;
  font-size: 14px;
  text-align: center;
}

.formulario-registro a {
  color: #30ff72;
  text-decoration: none;
}

.formulario-registro a:hover {
  text-decoration: underline;
}
